.container {
  display: flex;
  justify-content: center;
}

.button {
  min-width: 169px;
  height: 56px;
  background-color: var(--logo-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-background);
  cursor: pointer;
  display: block;
  margin: 48px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
